.footer {
    padding: 1rem;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    text-align: center;
    color: white;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  