/* SkillsSection.css */
.skills-section {
  padding: 20px;
  background-color: var(--secondary-bg);
  color: #333;
  font-family: Arial, sans-serif;
}

.skills-header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #007acc;
}

.slick-slide {
  padding: 0 20px; /* Adjust spacing between slides */
  box-sizing: border-box; /* Ensure padding doesn't break the layout */
}

.skills-slider .skill-category {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  height: 250px; /* Consistent height */
  background-color: var(--primary-bg);
}


.skills-slider .skill-category:hover {
  transform: scale(1.05);
}

.category-header {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #007acc;
  display: inline-block;
  padding-bottom: 5px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  font-size: 1rem;
  margin: 5px 0;
  color: #555;
}
