.skills {
    min-height: 100vh;
    padding: 5rem 1.5rem;
    /* background-color: var(--secondary-bg); */
    background: linear-gradient(to left, #606c78 0%, #c9d8df 100%);
    color: var(--primary-text);
    text-align: center;
  }
  
  .skills h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  
  .skill-item {
    padding: 0.5rem 1rem;
    background-color: var(--highlight);
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
  }
  